#### Parts of speech & named entity recognition task

In [1]:
import spacy
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from spacy import displacy, tokenizer
from IPython.display import HTML, display
import re
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('bbc_news.csv')

In [3]:
data.head()

,Unnamed: 0,index,title,pubDate,guid,link,description
0,0,6684,Can I refuse to work?,"Wed, 10 Aug 2022 15:46:18 GMT",https://www.bbc.co.uk/news/business-62147992,https://www.bbc.co.uk/news/business-62147992?a...,With much of the UK enduring another period of...
1,1,9267,'Liz Truss the Brief?' World reacts to UK poli...,"Mon, 17 Oct 2022 11:35:12 GMT",https://www.bbc.co.uk/news/world-63285480,https://www.bbc.co.uk/news/world-63285480?at_m...,The UK's political chaos has been watched arou...
2,2,7387,Rationing energy is nothing new for off-grid c...,"Wed, 31 Aug 2022 05:20:18 GMT",https://www.bbc.co.uk/news/uk-scotland-highlan...,https://www.bbc.co.uk/news/uk-scotland-highlan...,Scoraig in the north west Highlands has long h...
3,3,767,The hunt for superyachts of sanctioned Russian...,"Tue, 22 Mar 2022 14:37:01 GMT",https://www.bbc.co.uk/news/60739336,https://www.bbc.co.uk/news/60739336?at_medium=...,"Wealthy Russians sanctioned by the US, EU and ..."
4,4,3712,Platinum Jubilee: 70 years of the Queen in 70 ...,"Wed, 01 Jun 2022 23:17:33 GMT",https://www.bbc.co.uk/news/uk-61660128,https://www.bbc.co.uk/news/uk-61660128?at_medi...,A quick look back at the Queen's 70 years on t...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1000 non-null   int64
 1   index        1000 non-null   int64
 2   title        1000 non-null   object
 3   pubDate      1000 non-null   object
 4   guid         1000 non-null   object
 5   link         1000 non-null   object
 6   description  1000 non-null   object
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

#### We want to extract the titles of the news articles and store them separately

In [5]:
titles = pd.DataFrame(data['title'])
titles.head()

                                               title
0                              Can I refuse to work?
1  'Liz Truss the Brief?' World reacts to UK poli...
2  Rationing energy is nothing new for off-grid c...
3  The hunt for superyachts of sanctioned Russian...
4  Platinum Jubilee: 70 years of the Queen in 70 ...

#### Cleaning data - converting title to lowercase

In [6]:
titles['lowercase'] = titles['title'].str.lower()
titles.head()

,title,lowercase
0,Can I refuse to work?,can i refuse to work?
1,'Liz Truss the Brief?' World reacts to UK poli...,'liz truss the brief?' world reacts to uk poli...
2,Rationing energy is nothing new for off-grid c...,rationing energy is nothing new for off-grid c...
3,The hunt for superyachts of sanctioned Russian...,the hunt for superyachts of sanctioned russian...
4,Platinum Jubilee: 70 years of the Queen in 70 ...,platinum jubilee: 70 years of the queen in 70 ...

#### Removing stopwords

In [7]:
en_stopwords = stopwords.words('english')
titles['no_stopwords'] = titles['lowercase'].apply(lambda x: ' '.join([word for word in x.split() if word not in (en_stopwords)]) )

In [8]:
titles.head()

,title,lowercase,no_stopwords
0,Can I refuse to work?,can i refuse to work?,refuse work?
1,'Liz Truss the Brief?' World reacts to UK poli...,'liz truss the brief?' world reacts to uk poli...,'liz truss brief?' world reacts uk political t...
2,Rationing energy is nothing new for off-grid c...,rationing energy is nothing new for off-grid c...,rationing energy nothing new off-grid community
3,The hunt for superyachts of sanctioned Russian...,the hunt for superyachts of sanctioned russian...,hunt superyachts sanctioned russian oligarchs
4,Platinum Jubilee: 70 years of the Queen in 70 ...,platinum jubilee: 70 years of the queen in 70 ...,platinum jubilee: 70 years queen 70 seconds

#### Removing punctuations

In [9]:
titles['no_stopwords_no_punct'] = titles.apply(lambda x: re.sub(r"([^\w\s])", '', x['no_stopwords']), axis=1)
titles.head()

,title,lowercase,no_stopwords,no_stopwords_no_punct
0,Can I refuse to work?,can i refuse to work?,refuse work?,refuse work
1,'Liz Truss the Brief?' World reacts to UK poli...,'liz truss the brief?' world reacts to uk poli...,'liz truss brief?' world reacts uk political t...,liz truss brief world reacts uk political turmoil
2,Rationing energy is nothing new for off-grid c...,rationing energy is nothing new for off-grid c...,rationing energy nothing new off-grid community,rationing energy nothing new offgrid community
3,The hunt for superyachts of sanctioned Russian...,the hunt for superyachts of sanctioned russian...,hunt superyachts sanctioned russian oligarchs,hunt superyachts sanctioned russian oligarchs
4,Platinum Jubilee: 70 years of the Queen in 70 ...,platinum jubilee: 70 years of the queen in 70 ...,platinum jubilee: 70 years queen 70 seconds,platinum jubilee 70 years queen 70 seconds

#### Tokenize

In [10]:
titles['token_raw']= titles.apply(lambda x: word_tokenize(x['title']), axis=1)
titles['token_clean']= titles.apply(lambda x: word_tokenize(x['no_stopwords_no_punct']), axis=1)
titles.head()

,title,lowercase,no_stopwords,no_stopwords_no_punct,token_raw,token_clean
0,Can I refuse to work?,can i refuse to work?,refuse work?,refuse work,"[Can, I, refuse, to, work, ?]","[refuse, work]"
1,'Liz Truss the Brief?' World reacts to UK poli...,'liz truss the brief?' world reacts to uk poli...,'liz truss brief?' world reacts uk political t...,liz truss brief world reacts uk political turmoil,"['Liz, Truss, the, Brief, ?, ', World, reacts,...","[liz, truss, brief, world, reacts, uk, politic..."
2,Rationing energy is nothing new for off-grid c...,rationing energy is nothing new for off-grid c...,rationing energy nothing new off-grid community,rationing energy nothing new offgrid community,"[Rationing, energy, is, nothing, new, for, off...","[rationing, energy, nothing, new, offgrid, com..."
3,The hunt for superyachts of sanctioned Russian...,the hunt for superyachts of sanctioned russian...,hunt superyachts sanctioned russian oligarchs,hunt superyachts sanctioned russian oligarchs,"[The, hunt, for, superyachts, of, sanctioned, ...","[hunt, superyachts, sanctioned, russian, oliga..."
4,Platinum Jubilee: 70 years of the Queen in 70 ...,platinum jubilee: 70 years of the queen in 70 ...,platinum jubilee: 70 years queen 70 seconds,platinum jubilee 70 years queen 70 seconds,"[Platinum, Jubilee, :, 70, years, of, the, Que...","[platinum, jubilee, 70, years, queen, 70, seco..."

#### Lemmatize

In [11]:
lemmatizer = WordNetLemmatizer()
titles["token_clean_lemmatized"] = titles["token_clean"].apply(lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])
titles.head()

,title,lowercase,no_stopwords,no_stopwords_no_punct,token_raw,token_clean,token_clean_lemmatized
0,Can I refuse to work?,can i refuse to work?,refuse work?,refuse work,"[Can, I, refuse, to, work, ?]","[refuse, work]","[refuse, work]"
1,'Liz Truss the Brief?' World reacts to UK poli...,'liz truss the brief?' world reacts to uk poli...,'liz truss brief?' world reacts uk political t...,liz truss brief world reacts uk political turmoil,"['Liz, Truss, the, Brief, ?, ', World, reacts,...","[liz, truss, brief, world, reacts, uk, politic...","[liz, truss, brief, world, reacts, uk, politic..."
2,Rationing energy is nothing new for off-grid c...,rationing energy is nothing new for off-grid c...,rationing energy nothing new off-grid community,rationing energy nothing new offgrid community,"[Rationing, energy, is, nothing, new, for, off...","[rationing, energy, nothing, new, offgrid, com...","[rationing, energy, nothing, new, offgrid, com..."
3,The hunt for superyachts of sanctioned Russian...,the hunt for superyachts of sanctioned russian...,hunt superyachts sanctioned russian oligarchs,hunt superyachts sanctioned russian oligarchs,"[The, hunt, for, superyachts, of, sanctioned, ...","[hunt, superyachts, sanctioned, russian, oliga...","[hunt, superyachts, sanctioned, russian, oliga..."
4,Platinum Jubilee: 70 years of the Queen in 70 ...,platinum jubilee: 70 years of the queen in 70 ...,platinum jubilee: 70 years queen 70 seconds,platinum jubilee 70 years queen 70 seconds,"[Platinum, Jubilee, :, 70, years, of, the, Que...","[platinum, jubilee, 70, years, queen, 70, seco...","[platinum, jubilee, 70, year, queen, 70, second]"

#### Creating lists for tokens

In [12]:
token_raw_list = sum(titles['token_raw'], []) #unpack our lists into a single list
token_clean_list = sum(titles['token_clean_lemmatized'], [])

### POS tagging

In [13]:
nlp = spacy.load('en_core_web_sm')

##### Create a spacy doc from our raw text

In [14]:
spacy_doc = nlp(' '.join(token_raw_list))

In [15]:
pos_df = pd.DataFrame(columns=['token', 'pos_tag'])

In [16]:
for token in spacy_doc:
    pos_df = pd.concat([pos_df, 
                        pd.DataFrame.from_records([{'token': token.text, 'pos_tag': token.pos_}])], ignore_index=True)

#### Most common tokens and their associated POS tags

In [17]:
pos_df_counts = pos_df.groupby(['token', 'pos_tag']).size().reset_index(name='counts').sort_values(by = 'counts', ascending =False)
pos_df_counts

          token pos_tag  counts
95            :   PUNCT     543
8             '   PUNCT     300
2897         in     ADP     187
4082         to    PART     175
3268         of     ADP     172
...         ...     ...     ...
2304  crumbling    VERB       1
2305     crunch   PROPN       1
827      Jarrod   PROPN       1
826    Japanese     ADJ       1
0             !   PUNCT       1

[4368 rows x 3 columns]

#### Most common nouns

In [18]:
nouns = pos_df_counts[pos_df_counts.pos_tag == "NOUN"]
nouns

          token pos_tag  counts
4267        war    NOUN      35
3552     record    NOUN      15
3416     police    NOUN      14
4356       year    NOUN      14
4316        win    NOUN      14
...         ...     ...     ...
2294  criticism    NOUN       1
2296  crocodile    NOUN       1
2297       crop    NOUN       1
2300      crown    NOUN       1
2303    cruelty    NOUN       1

[1487 rows x 3 columns]

#### Most common verbs

In [19]:
verbs = pos_df_counts[pos_df_counts.pos_tag == "VERB"]
verbs

           token pos_tag  counts
3687        says    VERB      30
9              '    VERB      14
2670       found    VERB      13
4317         win    VERB      12
4324        wins    VERB      10
...          ...     ...     ...
2324      dating    VERB       1
2329    dazzling    VERB       1
2293  criticised    VERB       1
2301     crowned    VERB       1
2304   crumbling    VERB       1

[759 rows x 3 columns]

### Named entity recognition

In [20]:
for word in spacy_doc.ents:
    print(word.text, word.label_)

Liz Truss PERSON
UK GPE
Rationing PRODUCT
superyachts CARDINAL
Russian NORP
70 years DATE
70 seconds TIME
Red Bull ORG
Formula 1 's PRODUCT
World Triathlon Championship Series EVENT
Flora Duffy PERSON
Georgia Taylor-Brown PERSON
Terry Hall PERSON
Post Office ORG
Fujitsu ORG
Horizon ORG
UK GPE
Six CARDINAL
Scotland GPE
'99 DATE
Ireland GPE
Liz Truss PERSON
Queen PERSON
5 % PERCENT
England Russians NORP
Week DATE
11-17 June 2022 DATE
Hong Kong GPE
25 years DATE
Nick Pope PERSON
Newcastle GPE
China GPE
Barcelona GPE
Real Madrid ORG
Clasico GPE
Kuenssberg GPE
Budget ORG
Nicola Bulley ORG
Christmas DATE
100-year-old DATE
Edinburgh GPE
three days DATE
Freya PERSON
600kg QUANTITY
Norway GPE
UK GPE
Ukrainian GPE
Nicola Bulley ORG
Don Bolduc PERSON
Democrats NORP
Republican NORP
Queen PERSON
17-year-old DATE
Isaac Babadi PERSON
Panenka ORG
Amtrak ORG
Three CARDINAL
Missouri GPE
four CARDINAL
Scottish NORP
the day DATE
Chris PERSON
Jr v Liam Smith PERSON
Ukraine GPE
Russian NORP
Root PRODUCT
England GPE
West Indies Heineken Champions Cup ORG
16 CARDINAL
Wiese NORP
Tigers ORG
last eight DATE
World Cup 2022 EVENT
Bellingham GPE
Gakpo PERSON
Fernandez ORG
Briton Jack Fenton PERSON
Greek NORP
Emotional Sue Barker PERSON
Centre Court ORG
Ukrainian GPE
England GPE
Test Newspaper ORG
Rwanda GPE
SAS ORG
Lenny Henry PERSON
Glyn Wise PERSON
Lib Dems PERSON
Chris Kaba PERSON
World Cup 2022 EVENT
James Webb PERSON
Nasa ORG
Constitution Hill WORK_OF_ART
At least one CARDINAL
Gareth Bale PERSON
33 DATE
Ukraine GPE
World Cup 2022 EVENT
Vittorio Pozzo 's PERSON
six months DATE
Eidevall ORG
100 % PERCENT
Arsenal ORG
first ORDINAL
Ukraine GPE
US GPE
NHS ORG
Sandy Brown PERSON
Cornwall NORP
Boris Becker PERSON
Turkish NORP
25 CARDINAL
dozens CARDINAL
Indian Wells PERSON
Andy Murray PERSON
Emma Raducanu PERSON
Jack Draper PERSON
third ORDINAL
World Athletics Championships EVENT
GB GPE
Hodgkinson PERSON
800 CARDINAL
Russia GPE
Prince Harry PERSON
Meghan PERSON
Chelsea PERSON
4-2 Man PRODUCT
Chelsea PERSON
third ORDINAL
WSL ORG
Tory NORP
Sunak Omagh PERSON
Four CARDINAL
John Caldwell PERSON
Northern Ireland 1-0 GPE
Sarah McFadden PERSON
Belfast GPE
Clara Darcy PERSON
South Asian NORP
Prince Harry PERSON
Elizabeth II 's PERSON
Millions ORG
Joe Biden PERSON
Middle East LOC
US GPE
NHS ORG
winter DATE
The Papers : Lions ' WORK_OF_ART
Starmer ORG
Afghanistan GPE
Islamic NORP
Wales Kate PERSON
Queen Elizabeth PERSON
Emma Raducanu PERSON
US GPE
Torben GPE
Beltz GPE
Oxford GPE
0 CARDINAL
Ukraine GPE
Putin PERSON
UK GPE
EU ORG
Super Mario Bros. ORG
Jack Black PERSON
Four CARDINAL
Slam ORG
Osaka GPE
McDonald 's ORG
Coca-Cola ORG
Russia Women 's ORG
Footballer of the Year ORG
Sam Kerr PERSON
Ukraine GPE
Vladimir Putin PERSON
Africa Ryanair 's LOC
Michael O'Leary PERSON
16 CARDINAL
' How England 's WORK_OF_ART
14 CARDINAL
Twickenham PERSON
Viktor Hovland PERSON
St Andrews ORG
third ORDINAL
Karim Benzema ORG
324th FAC
Super Cup EVENT
The Papers WORK_OF_ART
Boris PERSON
Rwanda Queen ORG
Commonwealth Service Mosque ORG
second ORDINAL
World Cup 2022 EVENT
Belgium GPE
Qatar GPE
UK GPE
Living with Covid WORK_OF_ART
Soho LOC
London GPE
The Papers WORK_OF_ART
Cruise PERSON
NHS ORG
UK GPE
2 MONEY
Mexico GPE
Rail PERSON
England GPE
Taliban ORG
U-turn ' a devastating day ' ORG
Afghan NORP
Malala Yousafzai Met Police ORG
Casey PERSON
Ukraine GPE
Kherson PERSON
Mariupol ORG
Russian NORP
English LANGUAGE
Alex Sanderson PERSON
Kremlin ORG
Liz Truss PERSON
Ukraine GPE
Wales ORG
Ukrainians NORP
Deloitte ORG
European NORP
Covid PERSON
Nigeria GPE
more than 600 CARDINAL
Wimbledon WORK_OF_ART
Emma Raducanu & Andy Murray ORG
Centre Court ORG
day one DATE
Nord Stream GPE
Quiz PERSON
the week DATE
Lindsay Lohan PERSON
Receipt PERSON
Supreme Court ORG
Roe v Wade LAW
Imran Khan PERSON
Pakistan GPE
Artemis NORP
Nasa ORG
Ukraine GPE
Flint GPE
12 CARDINAL
Birmingham GPE
France GPE
Invergordon GPE
Ukraine GPE
Nato ORG
Buyers NORP
UK GPE
Hidilyn Diaz PERSON
Olympic DATE
England GPE
Three CARDINAL
Budget ORG
Nato ORG
Nordic NORP
Europe LOC
6 CARDINAL
FA Cup EVENT
Wrexham PERSON
Wrexham PERSON
UK GPE
Suella Braverman ORG
Liz Truss PERSON
Tory NORP
World Cup 2022 EVENT
England GPE
Robert Page PERSON
Nurses ORG
Rishi Sunak PERSON
Leslie Jordan PERSON
Grace ORG
67 DATE
Olivia Pratt-Korbel PERSON
North Carolina GPE
Raleigh ORG
UK GPE
Rishi Sunak 's PERSON
Heathrow Airport FAC
John Peel 's PERSON
UK GPE
two CARDINAL
Chinese NORP
CCTV ORG
US GPE
Women 's T20 World Cup : ORG
England GPE
India GPE
Michaela McAreavey PERSON
Two CARDINAL
Scotland 2-1 Republic of Ireland ORG
Ryan Christie 's PERSON
Covid PERSON
US GPE
2023 CARDINAL
RRR ORG
Naatu Naatu PERSON
The Papers WORK_OF_ART
Russia GPE
Forest PERSON
Russian NORP
Ukrainian NORP
Greece GPE
Nottingham NHS ORG
World Cup 2022 EVENT
kick-off PERSON
Fifa ORG
England U21s 3-0 Albania U21s : Young Lions WORK_OF_ART
2023 CARDINAL
European Under-21 Championship How WORK_OF_ART
Matthew Bassett PERSON
GTA ORG
Rockstar PERSON
Eminem PERSON
World Cup 2022 EVENT
France GPE
Kylian Mbappe ORG
Olivier Giroud PERSON
two CARDINAL
Saudi NORP
Sydney GPE
Matt Hancock PERSON
dozens CARDINAL
Cricket World Cup : ORG
England GPE
Sunday Nurses ORG
Thousands CARDINAL
Ludwell Valley Park Tory LOC
Truss PERSON
Macron PERSON
Keir Starmer PERSON
a decade ' DATE
Lionesses Zelensky PERSON
Russia GPE
Ukraine Amber Heard ORG
Workers ORG
London GPE
Chester Zoo PERSON
World Cup 2022 EVENT
Belgium GPE
Morocco GPE
Roberto Martinez Boy George 's PERSON
Celeb ORG
Elon Musk PERSON
Dilbert creator PERSON
Scott Adams How Henry PERSON
Addenbrooke 's Hospital Week ORG
2 - 8 April 2022 PERCENT
UK GPE
Boris Johnson PERSON
Ukraine GPE
the Queen Cody Gakpo WORK_OF_ART
Liverpool GPE
Eindhoven Prince William PERSON
Colour ORG
Texas Water ORG
billions CARDINAL
London GPE
Emma Raducanu PERSON
British NORP
Wimbledon World Cup EVENT
South Korea GPE
last 16 DATE
Portugal GPE
China GPE
US Navy ORG
Brighton PERSON
Jurgen Klopp PERSON
Reds ORG
Rugby World Cup : ORG
England GPE
Claudia MacDonald ORG
Hannah Botterman PERSON
Commonwealth Games ORG
Andrea Spendolini-Sirieix PERSON
Noah Williams PERSON
10 CARDINAL
Suella Braverman ORG
Beth Mead : PERSON
WSL ORG
3 CARDINAL
Cristiano Ronaldo ORG
T20 World Cup - England EVENT
India GPE
Jos Buttler & Alex Hales ORG
Orkney PERSON
discos ORG
Putin PERSON
Mariupol GPE
Russian NORP
Ukraine GPE
Jewish NORP
Israel Politics ORG
US GPE
China GPE
Shanghai GPE
Vietnam GPE
six CARDINAL
Alex Murdaugh PERSON
Leicester City GPE
Brendan Rodgers PERSON
Christmas Day DATE
Sweden GPE
5 CARDINAL
Man City 's GPE
Filippa Angeldal ORG
two CARDINAL
Swedes Ukraine War EVENT
Russian NORP
Sergei Lavrov PERSON
Pakistan GPE
Map PERSON
Sri Lanka PERSON
US GPE
seven-day DATE
Charlo-Tszyu ORG
Leila Borrington PERSON
three-year-old DATE
FA Cup 2023 EVENT
Joao Palhinha PERSON
Solomon PERSON
Fulham ORG
Leeds GPE
United Alabama GPE
Billie Jean King Cup Finals WORK_OF_ART
Great Britain 's GPE
Glasgow GPE
Liverpool ORG
Jurgen Klopp PERSON
FA Cup EVENT
Mariupol PERSON
US Open EVENT
Rory McIlroy PERSON
England GPE
Callum Tarren ORG
one CARDINAL
Adam Hadwin MLS PERSON
DC United ORG
Taxi Fountas ORG
Newcastle Reanne Evans ORG
Stuart Bingham PERSON
first ORDINAL
Snooker Shoot Out FAC
Ukraine GPE
Russia GPE
Ukraine GPE
Russian NORP
Mykolaiv Tory PERSON
Rishi Sunak ORG
MPs Antonio Conte PERSON
Italian NORP
Tottenham GPE
60 seconds TIME
Corrie Mckeague ORG
British Gymnastics ORG
'zero DATE
Commonwealth Games : ORG
England GPE
Australia GPE
first ORDINAL
Wallasey NORP
Putin PERSON
Wayne Quilliam PERSON
Aboriginal Australia ORG
War GPE
Ukraine GPE
Russian NORP
Nato ORG
Ukraine NI Election ORG
NI ORG
Court ORG
Hundred CARDINAL
Duhan van der Merwe PERSON
Six CARDINAL
Scotland GPE
England GPE
Indian NORP
John Lennon 's PERSON
Yoko Ono GPE
Liverpool GPE
Will Smith 's PERSON
John Caldwell ' PERSON
Taiwan GPE
Eva Kaili ORG
EU ORG
Gulf LOC
England GPE
South Africa GPE
Sophia Dunkley ton PERSON
second ORDINAL
ODI Doctors ORG
Birmingham GPE
Commonwealth Games ORG
Australia GPE
India GPE
nine CARDINAL
2 CARDINAL
Ten CARDINAL
Manchester United PERSON
Liverpool GPE
Historic English PERSON
Pope Francis PERSON
Canada GPE
David Butler PERSON
98 Met Police ORG
Wayne Couzens PERSON
Ukraine GPE
Boris Johnson PERSON
Sweden GPE
Finland GPE
House ORG
Zana PERSON
Zara PERSON
Nigeria GPE
German NORP
Russian NORP
Bruce Lehrmann PERSON
Australia GPE
Love Island PRODUCT
Davide ORG
2022 CARDINAL
England v South Africa LOC
Issy Wong PERSON
NBA ORG
Texas GPE
Mary Queen PERSON
Ukraine GPE
UK GPE
July DATE
UK GPE
Johnson PERSON
Durban PERSON
Amazon ORG
Lockeford GPE
California GPE
this year DATE
Michelle Donelan PERSON
Thousands CARDINAL
Twitch PERSON
Kai Cenat PERSON
Champions League ORG
Nearly 2,000 CARDINAL
Liverpool ORG
Uefa Climate ORG
Panama GPE
Kenya GPE
BBC ORG
Wizz Air PERSON
Moldova ORG
Bristol ORG
nine hours TIME
TED ORG
Victoria Azarenka PERSON
Royal Mail ORG
hundreds of pounds MONEY
Christmas DATE
15 hours TIME
' The Papers : Voters ' WORK_OF_ART
Ukraine GPE
Yarmolenko LOC
Europa LOC
West Ham GPE
South Africa GPE
Ben Stokes PERSON
first ORDINAL
French Open WORK_OF_ART
Coco Gauff PERSON
Indonesia GPE
More than 120 CARDINAL
2022 DATE
50 years ' DATE
Mormon NORP
Italy GPE
World Cup EVENT
North Macedonia LOC
Petr Pavel ORG
Czech NORP
Why half a million CARDINAL
TikTok Comedian Rhod Gilbert ORG
Quiz PERSON
the week DATE
Cristiano Ronaldo 's PERSON
London GPE
Neil Kinnock PERSON
The Papers : 'Wake WORK_OF_ART
'Truss WORK_OF_ART
Argentina GPE
Oliviers 2022 PRODUCT
Jason Manford 's PERSON
7 CARDINAL
Benjamin Myers PERSON
King PERSON
Truss PERSON
Shapps Missing Doncaster PERSON
Election PRODUCT
2022 DATE
Boris Johnson PERSON
Tories NORP
UK GPE
2022 DATE
Channel ORG
Grenfell ORG
London GPE
Josephine Tewson PERSON
91 CARDINAL
Margaret Thatcher 's PERSON
Brahms PERSON
Texas GPE
UK GPE
Ukraine GPE
Russian NORP
Covid PERSON
England GPE
US GPE
Finland GPE
Edinburgh Festival FAC
World Cup 2022 EVENT
Wales ORG
Allen PERSON
Ramsey PERSON
England GPE
Crown ORG
1.1 CARDINAL
UK GPE
first ORDINAL
Partygate ORG
Ukraine GPE
Rishi Sunak PERSON
Zelensky PERSON
US GPE
Chinese NORP
Assad PERSON
Syria GPE
UAE Peru ORG
Machu Picchu PERSON
Macron defeats Le Pen ORG
France GPE
World Cup 2022 EVENT
Qatar GPE
thousands CARDINAL
US GPE
World Aquatic Championships EVENT
Summer McIntosh PERSON
15 DATE
Britain GPE
UK GPE
this week DATE
BBC ORG
Harry PERSON
Meghan PERSON
National Service of Thanksgiving Euro ORG
Chocolate WORK_OF_ART
Easter Record FAC
the NHS Wimbledon FAC
Russian NORP
Andrey Rublev PERSON
Steve Barclay PERSON
first ORDINAL
Elaine Thompson-Herah PERSON
Dina Asher-Smith ORG
Diamond League ORG
Keir Starmer PERSON
zero CARDINAL
Elizabeth II 's PERSON
European NORP
Washington DC GPE
Flesh PERSON
Vanessa Bryant PERSON
Ukraine GPE
Biden PERSON
Maga PERSON
US GPE
Roman Abramovich PERSON
Chelsea PERSON
Megafire PERSON
Bordeaux Bristol FAC
Jeremy Corbyn PERSON
Ukraine GPE
Eugene Shvidler PERSON
Ukraine GPE
Russia GPE
Belarus ORG
the North Sea LOC
Pink Ladies ' Tractor Road Run WORK_OF_ART
P & O ORG
800 CARDINAL
European Super League ORG
Euro 2022 LAW
Alessia Russo 's ORG
Northern Ireland Meet GPE
Ros Atkins ORG
Peterborough PERSON
Bretton PERSON
Online WORK_OF_ART
US GPE
Eliza Fletcher ORG
Anteater PERSON
Bolivian NORP
French Open WORK_OF_ART
Wimbledon WORK_OF_ART
Jurgen Klopp PERSON
Bank of England ORG
Pound PERSON
England GPE
South Africa GPE
Danni Wyatt PERSON
Sophia Dunkley PERSON
Natalie Sciver PERSON
England GPE
UK GPE
UK GPE
one CARDINAL
South Sudan LOC
Indian NORP
The Papers WORK_OF_ART
Raab PERSON
Nicola ORG
River Thames ORG
Dutch NORP
4 DATE
Oscars ORG
Will Smith PERSON
Boris Nemtsov PERSON
Murdered Putin PERSON
FSB ORG
23 CARDINAL
2023 DATE
N Korea GPE
US GPE
New Zealand GPE
Gabrielle ORG
North Island LOC
Russian NORP
Oksana Baulina PERSON
Ukraine GPE
Russian NORP
Glen Coe Government ORG
Clive Myrie PERSON
Ukrainians NORP
Ukraine GPE
the Home Office ORG
Owen Farrell PERSON
Eddie Jones PERSON
England GPE
Poland GPE
Ukraine GPE
Ukraine GPE
Izyum Euro 2022 ORG
Leah Williamson PERSON
England GPE
Spain GPE
Manchester United 2-2 Leeds PERSON
Jadon Sancho PERSON
Champions League : Pep Guardiola 's ORG
Manchester City GPE
Joe Clarke PERSON
WhatsApp ORG
Turkey GPE
Tyre Nichols PERSON
Artemis NORP
Nasa ORG
Moon PERSON
Saturday DATE
El Sistema GPE
Venezuelan NORP
Raploch Quiz PERSON
the week DATE
Oscars ORG
this week DATE
Independence Day EVENT
India GPE
6 MONEY
Sikh PERSON
100 years DATE
World Cup 2022 EVENT
Argentina GPE
France GPE
St David Awards PERSON
Merthyr GPE
Daniel Lewis PERSON
Ukraine GPE
Brit ORG
NI ORG
Stormont GPE
Rishi Sunak PERSON
Kenyan NORP
first ORDINAL
Mount Everest LOC
Macron PERSON
France GPE
NHS ORG
Carrot GPE
October DATE
Everton PERSON
A day DATE
Frank Lampard Lib Dems PERSON
UK GPE
Nigeria GPE
Kano PERSON
2023 DATE
Firms ORG
post-Brexit trade ORG
War GPE
Ukraine GPE
Moscow GPE
Ben Earl PERSON
Saracens CARDINAL
Premiership PERSON
Crystal Palace 1-1 Manchester United FAC
Michael Olise PERSON
United ORG
second ORDINAL
Young Nigerians ORG
Ukraine GPE
Greg Norman PERSON
LIV Golf ORG
Saudi Arabia 's GPE
Dustin Johnson PERSON
PGA Tour ORG
Parliament ORG
Deptford ORG
Megan Newborough PERSON
The Papers WORK_OF_ART
WSL ORG
Ecuador GPE
Castrating Pablo Escobar 's ORG
The Papers WORK_OF_ART
UK GPE
'World Cup EVENT
China GPE
Taiwan GPE
China GPE
Taiwan GPE
Trump Organization ORG
New York GPE
Garth Crooks ' Team of the Week : ORG
Silva ORG
Martinez Medusa PERSON
One CARDINAL
Spain GPE
year DATE
The Papers WORK_OF_ART
Manchester City 2-2 PERSON
Children PRODUCT
Fornite PERSON
Mini PERSON
Pakistan GPE
Queen PERSON
2 CARDINAL
Jarrod Bowen PERSON
Said Benrahma PERSON
Hammers ORG
Ukrainians NORP
UK GPE
Calais Women 's ORG
Alice Capsey 's PERSON
51 CARDINAL
Ireland GPE
Lowri ORG
Baftas Cheltenham PERSON
10 % PERCENT
Omicron vs Zero-Covid : PERSON
China GPE
World Cup 2022 EVENT
Argentina GPE
France GPE
the Lusail Stadium FAC
China GPE
Hong Kong GPE
Five moments QUANTITY
Salt Bae PERSON
World Cup EVENT
Danish NORP
Teachers ORG
NEU ORG
Diwali 2022 PERSON
India GPE
Mo Farah PERSON
Home Office ORG
Harry Styles ' PERSON
Harry PERSON
House ORG
Young Sports Personality of ORG
the Year 2022 EVENT
Jessica Gadirova PERSON
Jeremy Hunt PERSON
one CARDINAL
two-year-olds DATE
Abortion ORG
Roe v Wade LAW
Britain GPE
Canada GPE
MOTD ORG
10 CARDINAL
Spurs PERSON
Chandrashekhar Harbola PERSON
38 years DATE
Siachen Sunken Russian PERSON
First ORDINAL
hours TIME
Derby County GPE
Chris Kirchner PERSON
Friday DATE
Covid PERSON
Five CARDINAL
Terry Pratchett PERSON
Royal Society of Chemistry ORG
Italian NORP
Patagonia GPE
Florida GPE
China GPE
Mystery Beijing FAC
London Zoo 's ORG
Northumberland ORG
one CARDINAL
Trapped NORP
Saudi Arabia GPE
Julian Nagelsmann PERSON
Bayern Munich LOC
Thomas Tuchel PERSON
North Korea GPE
Kanye West : Adidas PERSON
Boris Johnson PERSON
48 hours TIME
Saturday DATE
Antarctic ORG
Christmas DATE
US Powerball ORG
1 MONEY
Brit Awards 2023 ORG
Mo Gilligan PERSON
Energy ORG
UK GPE
CCTV ORG
RAF Mildenhall PDC World Championship : ORG
Michael van Gerwen PERSON
Michael Smith PERSON
2023 DATE
Nicola Bulley : Dive ORG
Tyson Fury ORG
Dillian Whyte PERSON
Ukraine GPE
Klitschko PERSON
Rapper Loyle Carner PERSON
Jamie Oliver PERSON
Qatar GPE
the World Cup EVENT
Women 's Euro 2022 : ORG
England GPE
Germany GPE
Wembley World Cup 2022 ORG
Rage Against the Machine ORG
Reading and Leeds festivals ORG
Clarence House ORG
Heathrow Airport FAC
Two CARDINAL
Attacker PERSON
Canadian NORP
Macron PERSON
Le Pen FAC
Putin PERSON
Russian NORP
years DATE
winter DATE
Scotland GPE
BBC ORG
Rupert Murdoch PERSON
Jerry Hall PERSON
The Papers WORK_OF_ART
Tory NORP
Anfield GPE
Rolls Royce ORG
2,000 MONEY
Ukraine GPE
the Russian Army ORG
Donbas GPE
Rihanna GPE
Super Bowl half EVENT
Orlando Bloom PERSON
Ukraine GPE
Zelensky PERSON
Scottish NORP
Are Mar PERSON
Trump ORG
Watch : Huge WORK_OF_ART
New Jersey Buffalo GPE
Disney ORG
Birmingham GPE
Women 's Super League ORG
World Cup 2022 EVENT
Switzerland GPE
1 CARDINAL
Quebec GPE
Myanmar GPE
Insulate Britain PERSON
M25 ORG
Coco Gauff PERSON
TikTok ORG
Jaden Smith PERSON
Australian Open WORK_OF_ART
Covid PERSON
UK GPE
first ORDINAL
Wimbledon WORK_OF_ART
Ons Jabeur PERSON
Bob Marley PERSON
Ulvade PRODUCT
Kamala Harris PERSON
Bob Dylan PERSON
Women 's Six Nations WORK_OF_ART
Emilie Boulard PERSON
France GPE
Italy GPE
Phyllida Barlow PERSON
British NORP
Rory McIlroy ' PERSON
18th DATE
Iraq War EVENT
Ali Abbas PERSON
Xi Jinping 's PERSON
Chris Mason PERSON
Boris Johnson 's PERSON
Rugby World Cup : ORG
Timed Out - magazine PERSON
54 years DATE
Khan PERSON
Pakistan GPE
Liverpool 0-1 Real Madrid : Champions League ORG
Paris GPE
Nikki Haley ORG
Five CARDINAL
White House ORG
US GPE
Kenny Shiels PERSON
Jeremy Hunt PERSON
Falklands War EVENT
Liz Truss 's PERSON
85 seconds TIME
40p CARDINAL
last year DATE
Australian NORP
Media ORG
China GPE
40C CARDINAL
this weekend DATE
Belgorod PERSON
Russian NORP
Council ORG
Benfica PERSON
last eight DATE
62,000 MONEY
Blobby PERSON
Ten CARDINAL
Garnacho PERSON
First ORDINAL
M & S : ORG
World Snooker Championship 2022 EVENT
Ronnie O'Sullivan PERSON
David Gilbert Prince PERSON
Harry PERSON
Pakistan GPE
Rehan Ahmed PERSON
Karachi GPE
six weeks DATE
The Papers WORK_OF_ART
Earth LOC
Cricket World Cup : England ORG
Australia GPE
Tiverton GPE
Honiton GPE
Macron PERSON
UK GPE
France GPE
Edwards PERSON
Turkey GPE
almost 150 hours TIME
Netanyahu PERSON
Israel GPE
England GPE
South Africa GPE
first ORDINAL
T20 GPE
Pitch NORP
113m years ago DATE
El Clasico : ORG
Barcelona GPE
Bernabeu Man City FAC
Erik PERSON
ten CARDINAL
Danny Murphy PERSON
The Papers WORK_OF_ART
Chantelle Cameron PERSON
Jessica McCaskill PERSON
Ferrell ORG
Oscar PERSON
Curtis Royal Mail ORG
19 days DATE
Tony Blair PERSON
Queen PERSON
Windsor ceremony Uganda GPE
Rwanda GPE
UK GPE
Rwanda GPE
Boris Johnson PERSON
Anne Frank PERSON
France GPE
Grand National FAC
Rachael Blackmore PERSON
Aintree PERSON
Minella Times ORG
Shireen Abu Aqla PERSON
Al Jazeera ORG
Jerusalem GPE
two CARDINAL
MND Euro ORG
2024 DATE
Italy GPE
Mancini PERSON
Italian NORP
Serie A Nicola Bulley ORG
34 DATE
Mazepin & ORG
Russians NORP
EU ORG
Christian Matheson PERSON
England GPE
India GPE
third ORDINAL
five fours QUANTITY
England Raducanu GPE
Indian Wells PERSON
third ORDINAL
Garcia Thames Water PERSON
weeks DATE
Akon ’ s Wakanda ORG
Rory McIlroy PERSON
Canadian Open LOC
Egypt GPE
eight-year DATE
UK GPE
this week DATE
Kharkiv Platinum ORG
Eight CARDINAL
Queen PERSON
UK Athletics Championships ORG
Jeremiah Azu PERSON
Daryll Neita ORG
100 CARDINAL
12 CARDINAL
13 CARDINAL
London GPE
Five CARDINAL
Women 's World Cup ORG
Wales 1-0 Bosnia-Herzegovina Ratcliffe PERSON
Sheikh Jassim PERSON
Man Utd ORG
Turkey GPE
Syria GPE
First ORDINAL
Idlib Mobile ORG
22,500 MONEY
Covid PERSON
Vladimir Putin PERSON
Labour ORG
Comic Relief PERSON
The Traitors ORG
Indian Wells PERSON
Emma Raducanu PERSON
Jack Draper PERSON
Dan Evans ORG
Commonwealth Games ORG
Duran GPE
Duran GPE
Lenny Henry & PERSON
Tom Daley PERSON
Jacky Hunt-Broersma PERSON
104 CARDINAL
104 days DATE
Bafta TV Awards ORG
Eight CARDINAL
West Ham GPE
Hammers ORG
first ORDINAL
Brentford ORG
four CARDINAL
Man Utd Energy ORG
Ukraine GPE
Ukraine GPE
Russia GPE
Mariupol ORG
Pride PERSON
London GPE
50th ORDINAL
UK GPE
Pride PRODUCT
John Lewis PERSON
Mary Portas PERSON
Angelina Jolie PERSON
Lviv GPE
Morocco GPE
France GPE
Colombia GPE
Watford 1-0 Sheffield ORG
Rob Edwards PERSON
Match of PERSON
Manchester United 's PERSON
Christmas DATE
this year ' DATE
Cairo GPE
US Lauren ORG
Wembley Arena Inside Amapiano FAC
South Africa Måneskin ' GPE
Rush Bordeaux PERSON
France GPE
Bao Fan PERSON
Chinese NORP
Nicola Bulley PERSON
Joey Barton PERSON
Georgia Energy ORG
25,000 MONEY
BBC ORG
Ros Atkins PERSON
Hundred CARDINAL
Kate Cross ORG
Northern Superchargers World Cup ORG
Wagatha Christie PERSON
Six CARDINAL
Vardy PERSON
Rooney PERSON
Queen PERSON
Lucy Porter PERSON

In [22]:
html = displacy.render(spacy_doc, style = 'ent', jupyter = False)
#display(HTML(html))

#### Extract the tokens and entity tags into a dataframe

In [23]:
ner_df = pd.DataFrame(columns=['token', 'ner_tag'])

for token in spacy_doc.ents:
    if pd.isna(token.label_) is False:
        ner_df = pd.concat([ner_df, pd.DataFrame.from_records(
            [{'token': token.text, 'ner_tag': token.label_}])], ignore_index=True)

In [26]:
ner_df.head()

         token   ner_tag
0    Liz Truss    PERSON
1           UK       GPE
2    Rationing   PRODUCT
3  superyachts  CARDINAL
4      Russian      NORP

#### Token frequency count

In [29]:
ner_df_counts = ner_df.groupby(['token','ner_tag']).size().reset_index(name='counts').sort_values(by='counts', ascending=False)
ner_df_counts.head()

       token ner_tag  counts
965  Ukraine     GPE      47
955       UK     GPE      36
329  England     GPE      32
819  Russian    NORP      20
957       US     GPE      19

#### Most common people

In [30]:
people = ner_df_counts[ner_df_counts.ner_tag == "PERSON"]
people

                    token ner_tag  counts
257                 Covid  PERSON       9
760                 Queen  PERSON       8
757                 Putin  PERSON       8
169         Boris Johnson  PERSON       6
563             Liz Truss  PERSON       6
..                    ...     ...     ...
405  Georgia Taylor-Brown  PERSON       1
406        Geraint Thomas  PERSON       1
409     Ghislaine Maxwell  PERSON       1
410     Gianluigi Lentini  PERSON       1
557    Lionesses Zelensky  PERSON       1

[376 rows x 3 columns]

#### Most common places

In [31]:
places = ner_df_counts[ner_df_counts.ner_tag == "GPE"]
places

                token ner_tag  counts
965           Ukraine     GPE      47
955                UK     GPE      36
329           England     GPE      32
957                US     GPE      19
378            France     GPE      12
..                ...     ...     ...
419  Great Britain 's     GPE       1
420            Greece     GPE       1
444           Honiton     GPE       1
390                GB     GPE       1
411           Glasgow     GPE       1

[134 rows x 3 columns]

#### Most common products

In [35]:
products = ner_df_counts[ner_df_counts.ner_tag == "PRODUCT"]
products

               token  ner_tag  counts
714    Oliviers 2022  PRODUCT       1
776        Rationing  PRODUCT       1
754            Pride  PRODUCT       1
608           Marvel  PRODUCT       1
987              WW2  PRODUCT       1
971           Ulvade  PRODUCT       1
806             Root  PRODUCT       1
212         Centrica  PRODUCT       1
225         Children  PRODUCT       1
244           Coleen  PRODUCT       1
61           4-2 Man  PRODUCT       1
568      Love Island  PRODUCT       1
590       Manchester  PRODUCT       1
347  Eurovision 2022  PRODUCT       1
318         Election  PRODUCT       1
375     Formula 1 's  PRODUCT       1