### 4.1 Bag of Words Model- BoW
BoW converts text into a numerical format by counting the frequency of each word in each doc, without considering word order or context.

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

CountVectorizer transforms a collection of text documents into a token of matrix counts.

In [2]:
data = [' Most shark attacks occur about 10 feet from the beach since that is where the people are',
        'the efficiency with which he paired the socks in the drawer was quite admirable',
        'carol drank the blood as if she were a vampire',
        'giving directions that the mountains are to the west only works when you can see them',
        'the sign said there was road work ahead so he decided to speed up',
        'the gruff old man sat in the back of the bait shop grumbling to himself as he scooped out a handful of worms']

#### We want to initialize out CountVectorizer class

In [3]:
count_vec = CountVectorizer()

#### We now apply it to our text data
The count_vec_fit holds our bag of words representation

In [4]:
count_vec_fit = count_vec.fit_transform(data)

#### We want to visualize our representation as a table

In [5]:
bag_of_words = pd.DataFrame(count_vec_fit.toarray(), columns = count_vec.get_feature_names_out())
bag_of_words

,10,about,admirable,ahead,are,as,attacks,back,bait,beach,...,were,west,when,where,which,with,work,works,worms,you
0,1,1,0,0,1,0,1,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,0,0,0,0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0

### TF-IDF (Term Frequency-Inverse Document Frequency)
It measures how important a word is within a collection of texts. It measures word frequency in a single doc and how common it is across all documents.

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

#### We want to initialize out TfidVectorizer class

In [7]:
tf_vec = TfidfVectorizer()

#### We now apply it to our text data

In [8]:
tf_vec_fit = tf_vec.fit_transform(data)

In [12]:
tfidf_bag = pd.DataFrame(tf_vec_fit.toarray(), columns = tf_vec.get_feature_names_out())
tfidf_bag

,10,about,admirable,ahead,are,as,attacks,back,bait,beach,...,were,west,when,where,which,with,work,works,worms,you
0,0.257061,0.257061,0.000000,0.000000,0.210794,0.000000,0.257061,0.00000,0.00000,0.257061,...,0.000000,0.00000,0.00000,0.257061,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000
1,0.000000,0.000000,0.293641,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.293641,0.293641,0.000000,0.00000,0.00000,0.00000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.292313,0.000000,0.00000,0.00000,0.000000,...,0.356474,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000
3,0.000000,0.000000,0.000000,0.000000,0.222257,0.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.27104,0.27104,0.000000,0.000000,0.000000,0.000000,0.27104,0.00000,0.27104
4,0.000000,0.000000,0.000000,0.290766,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.290766,0.00000,0.00000,0.00000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.178615,0.000000,0.21782,0.21782,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.21782,0.00000